<template>
  <div class="photo" :style="`background-image: url(${photo});`">
    <div v-if='online' class="online"></div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  props: ['photo', 'online'],
}
</script>

