<template>
  <section class="chat">
    <div v-if="contact" class="header-chat">
      <i class="icon fa fa-user"></i>
      <p class="name">{{ contact.name }}</p>
      <textarea type="text" class="write-message"
          v-model="incomingMessage"
          @keyup.ctrl.enter="addMessage()"
          @keyup.ctrl.delete="removeLastMessage()" />
    </div>
    <div class="messages-chat" ref="messages" v-if="activeDiscussion">
      <div v-for="(m,mi) in messages" :key="mi">
        <div
          v-for="(p,i) in m.parts"
          :key="i"
          class="message"
          :class="!m.incoming || i > 0 ? 'text-only' : ''"
        >
          <Avatar v-if="m.incoming && i === 0" :photo="contact.photo" :online="contact.online"/>
          <p v-if="m.incoming" class="text"
              :class="p.selected ? 'selected' : ''"
              @click.exact="clearSelections()"
              @click.ctrl="selectMessage(mi,i)"
              v-html="p.text"></p>
          <div v-else class="response">
            <p class="text"
                :class="p.selected ? 'selected' : ''"
                @click.exact="clearSelections()"
                @click.ctrl="selectMessage(mi,i)"
                v-html="p.text"></p>
          </div>
        </div>
        <p class="time" :class="m.incoming ? '' : 'response-time'" >{{ m.time }}</p>
      </div>
    </div>
    <div class="d-flex justify-content-center py-5" v-if="!activeDiscussion">
      <div class="spinner-border my-5 text-secondary" role="status">
        <span class="sr-only">Loading...</span>
     </div>
    </div>
    <div class="footer-chat">
      <textarea type="text" class="write-message"
          placeholder="Type your message here"
          v-model="outgoingMessage"
          @keyup.ctrl.enter="addResponse()"
          @keyup.ctrl.delete="removeLastMessage()" />
      <i class="icon send fa fa-paper-plane clickable" @click="addResponse()"></i>
    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import marked from 'marked'
import Avatar from './Avatar.vue'

const toHTML = function({text}) {
  return marked(text)
    .replace('<p>', '')
    .replace('</p>', '')
}

export default {
  data() {
    return {
      incomingMessage: '',
      outgoingMessage: '',
      selection: null
    }
  },
  components: { Avatar },
  computed: {
    ...mapState(['contacts', 'activeDiscussion']),
    contact() {
      return this.activeDiscussion
        ? this.contacts[this.activeDiscussion.contactId]
        : {}
    },
    messages() {
      return this.activeDiscussion && this.activeDiscussion.messages
        ? this.activeDiscussion.messages
            .map(m => ({...m, parts: m.parts.map(p => ({...p, text: toHTML(p).replace('\n','<br>')}))}))
        : []
    },
  },
  methods: {
    addMessage() {
      if (this.incomingMessage.trim().length === 0) return;
      this.$store.commit('addMessage', {
          incoming: true,
          time: new Date().toTimeString().substring(0,5),
          text: this.incomingMessage.trim()
      });

      this.incomingMessage = '';
      this.scrollToLastMessage();
    },
    addResponse() {
      if (this.selection) {
        this.$store.commit('updateMessage', {
          selection: this.selection,
          text: this.outgoingMessage.trim()
        });
        this.outgoingMessage = '';
        this.clearSelections();
        return;
      }

      if (this.outgoingMessage.trim().length === 0) return;
      this.$store.commit('addMessage', {
          incoming: false,
          time: new Date().toTimeString().substring(0,5),
          text: this.outgoingMessage.trim()
      });

      this.outgoingMessage = '';
      this.scrollToLastMessage();
    },
    removeLastMessage() {
      if (this.selection) {
        this.selection = null;
        return;
      }
      this.$store.commit('removeLastMessage');
      this.scrollToLastMessage();
    },
    scrollToLastMessage() {
      var container = this.$refs.messages;
      requestAnimationFrame(() => container.scrollTop = container.scrollHeight);
    },
    selectMessage(messageIndex, partIndex) {
      this.clearSelections();
      this.selection = { messageIndex, partIndex };
      const target = this.activeDiscussion.messages[messageIndex].parts[partIndex];
      target.selected = !target.selected;
      this.outgoingMessage = target.text;
      this.activeDiscussion.messages = [...this.activeDiscussion.messages];
    },
    clearSelections(messageIndex, partIndex) {
      this.selection = null;
      this.outgoingMessage = '';
      this.activeDiscussion.messages
        .forEach(m => m.parts
          .forEach(p => p.selected = false)
        );
      this.activeDiscussion.messages = [...this.activeDiscussion.messages];
    }
  }
}
</script>

<style>
.chat {
  height: 700px;
  width: calc(65% - 70px);
  background: #fff;
}

.header-chat {
  background-color: #fff;
  height: 90px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.chat .header-chat .icon {
  margin-left: 30px;
  color: #515151;
  font-size: 14pt;
}

.chat .header-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-size: 13pt;
  color: #515151;
}

.chat .header-chat .right {
  position: absolute;
  right: 40px;
}

.chat .messages-chat {
  background-color: #f0f2f4;
  padding: 25px 35px;
  height: calc(100% - 170px);
  overflow-y: auto;
}

.chat .messages-chat .message {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.chat .messages-chat .message .photo {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #e6e7ed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.chat .messages-chat .text {
  margin: 0 0 0 25px;
  background-color: #fff;
  padding: 10px 16px;
  border-radius: 5px;
  font-size: .9rem;
}
  
.chat .messages-chat .text code {
  cursor: pointer;
  border: 2px solid #a1b7e9;
  padding: 0 1em 0 .9em;
  margin: .5em .5em 0 0;
  font-family: inherit;
  color: #4768b5;
  font-weight: bold;
  border-radius: 5px;
  line-height: 2.2em;
  display: inline-block;
}

.chat .messages-chat p.text > p:last-child {
  margin-bottom: 0;
}

.chat .messages-chat .text table {
  margin: .5em 0 .7em;
}

.chat .messages-chat .text table td {
  border: 1px solid #999;
  padding: .5em .5em .4em;
}

.text.selected {
  box-shadow: 0 0 0 2px #4768b5 inset;
}

.text-only {
  margin-left: 45px;
}

.time {
  font-size: 10px;
  color: grey;
  margin-bottom: 10px;
  margin-left: 75px;
}

.response-time {
  margin-right: 5px !important;
  text-align: right;
}

.response {
  float: right;
  margin-right: 0px !important;
  margin-left: auto; /* flexbox alignment rule */
}

.response .text {
  background-color: #dddeee !important;
}

.footer-chat {
  width: calc(65% - 70px);
  height: 80px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: transparent;
  border-top: 2px solid #eee;
}

.chat .footer-chat .icon {
  margin-left: 30px;
  color: #c0c0c0;
  font-size: 14pt;
}

.chat .footer-chat .send {
  color: #fff;
  background-color: #4f6ebd;
  position: absolute;
  right: 50px;
  padding: 12px 14px 12px 10px;
  border-radius: 50px;
  font-size: 14pt;
}

.chat .footer-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-size: 13pt;
  color: #515151;
}

.chat .footer-chat .right {
  position: absolute;
  right: 40px;
}


.write-message {
  border: none !important;
  height: 70px;
  margin-left: 20px;
  padding: 10px;
}

.header-chat .write-message {
  width: 60%;
}

.footer-chat .write-message {
  width: calc(100% - 142px);
}


.footer-chat *::-webkit-input-placeholder {
  color: #c0c0c0;
  font-size: 13pt;
}
.footer-chat textarea *:-moz-placeholder {
  color: #c0c0c0;
  font-size: 13pt;
}
.footer-chat textarea *::-moz-placeholder {
  color: #c0c0c0;
  font-size: 13pt;
  margin-left: 5px;
}
.footer-chat textarea *:-ms-input-placeholder {
  color: #c0c0c0;
  font-size: 13pt;
}
.clickable {
  cursor: pointer;
}
</style>
