<template>
  <section class="discussions">
    <div class="list" v-if="discussions.length > 0">
      <Discussion
        v-for="(d,i) in discussions"
        :key="i"
        :active="d.active"
        :contact-id="d.contactId"
        :last-message="d.lastMessage"
        :last-interaction="d.lastInteraction"
        @click='switchTo(i)'
      />
    </div>
    <div class="d-flex justify-content-center py-5" v-else>
      <div class="spinner-border my-5 text-light" role="status">
        <span class="sr-only">Loading...</span>
     </div>
    </div>
  </section>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import Discussion from './Discussion.vue'

export default {
  components: {
    Discussion,
  },
  computed: {
    ...mapState(['discussions']),
  },
  methods: {
    ...mapMutations({
      switchTo: 'switchDiscussion',
    }),
  },
}
</script>

<style>
.discussions {
  width: 35%;
  height: 700px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #87a3ec;
  display: inline-block;
}

.discussions .discussion {
  width: 100%;
  height: 90px;
  background-color: #fafafa;
  border-bottom: solid 1px #e0e0e0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.discussions .list {
  max-height: 100%;
  overflow: auto;
}


.discussions .message-active {
  position: relative;
  background-color: #fff;
  border-bottom: solid 1px #e0e0e0;
}
.discussions .message-active:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5%;
  height: 90px;
  background: #87a3ec;
  border-bottom: solid 1px #e0e0e0;
}

.discussions .discussion .photo {
  margin-left: 20px;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #e6e7ed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.online {
  position: relative;
  top: 30px;
  left: 35px;
  width: 13px;
  height: 13px;
  background-color: #8bc34a;
  border-radius: 13px;
  border: 3px solid #fafafa;
}

.desc-contact {
  height: 43px;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.discussions .discussion .name {
  margin: 0 0 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11pt;
  color: #515151;
}

.discussions .discussion .message {
  margin: 6px 0 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 9pt;
  color: #515151;
}

.timer {
  margin-left: 15%;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  padding: 3px 8px;
  color: #bbb;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
}
</style>
