<template>
  <div class="discussion" :class="active ? 'message-active' : ''" @click="$emit('click')">
    <Avatar :photo="contact.photo" :online="contact.online" />
    <div class="desc-contact">
      <p class="name">{{ contact.name }}</p>
      <p class="message">{{ lastMessage }}</p>
    </div>
    <div class="timer">{{ lastInteraction }}</div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Avatar from './Avatar.vue'

export default {
  props: ['active', 'last-message', 'contact-id', 'last-interaction'],
  components: { Avatar },
  computed: {
    ...mapState(['contacts']),
    contact() {
      return this.contacts[this.contactId]
    },
  },
}
</script>

