<template>
  <nav class="menu">
    <ul class="items">
      <li class="item">
        <i class="fa fa-bell"></i>
        <small class="label">Activity</small>
      </li>
      <li class="item item-active">
        <i class="fa fa-comment-alt"></i>
        <small class="label">Chat</small>
      </li>
      <li class="item">
        <i class="fa fa-users"></i>
        <small class="label">Teams</small>
      </li>
      <li class="item">
        <i class="fa fa-calendar"></i>
        <small class="label">Meetings</small>
      </li>
      <li class="item">
        <i class="fa fa-phone"></i>
        <small class="label">Calls</small>
      </li>
      <li class="item">
        <i class="fa fa-file"></i>
        <small class="label">Files</small>
      </li>
      <li class="item">
        <i class="fa fa-ellipsis-h"></i>
      </li>
    </ul>
  </nav>
</template>

<style>
.menu {
  float: left;
  height: 700px;
  width: 70px;
  background: #4768b5;
  background: linear-gradient(#4768b5, #35488e);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

.menu .items {
  list-style: none;
  margin: auto;
  padding: 0;
}

.menu .items .item {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #9fb5ef;
  font-size: 16pt;
}

.menu .items .item .label {
  height: 17px;
  font-size: 7.5pt;
  margin-bottom: -10px;
  margin-top: 4px;
}

.menu .items .item-active {
  background-color: #5172c3;
  color: #fff;
  border-left: 3px solid;
  padding-right: 3px;
}

.menu .items .item:hover {
  cursor: pointer;
  background-color: #4f6ebd;
  color: #cfe5ff;
}
</style>
