<template>
  <div class="s-chat">
    <div class="s-discussions">
      <div class="s-switch"
        v-for="(d,i) in discussions" :key="i"
        :class="d.active ? 'active' : ''"
        @click='switchTo(i)'
      >{{i}}</div>
    </div>
    <div v-for="(m,mi) in messages" :key="mi"
      class="s-message" :class="m.incoming ? 'message-left' : 'message-right'">
      <div class="s-message-container">
        <div v-if="m.incoming" class="s-avatar"></div>
        <div class="balloon"  :class="m.incoming ? 'balloon-left' : 'balloon-right'">
          <p v-for="(p,i) in m.parts" :key="i"
          v-html="p.text"></p>
        </div>
        <div v-if="!m.incoming" class="s-avatar"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import marked from 'marked'

const toHTML = function({text}) {
  return marked(text)
    .replace('<p>', '')
    .replace('</p>', '')
}

export default {
  computed: {
    ...mapState(['discussions', 'activeDiscussion']),
    messages() {
      return this.activeDiscussion
        ? this.activeDiscussion.messages
            .map(m => ({...m, parts: m.parts.map(p => ({...p, text: toHTML(p)
              .replace('\n','<br>')
              .replace(/😳|😃/,':)')}))}))
        : []
    },
  },
  methods: {
    ...mapMutations({
      switchTo: 'switchDiscussion',
    }),
  },
}
</script>

<style lang="scss">

.container.simple {
  overflow-y: auto;
  overflow-x: hidden;
  height: 90vh;
}

.s-discussions {
  width: 977px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding-bottom: 2em;
  border-bottom: 5px solid #000;

  .s-switch {
    cursor: pointer;
    margin: 2em 1em 0;
    width: 2em;
    text-align: center;
    padding: .2em 0 0 .1em;

    box-shadow: 0 5px #fff, 0 10px #000, 0 -5px #fff, 0 -10px #000, -5px 0 #fff,
      -10px 0 #000, 5px 0 #fff, 10px 0 #000, 5px 5px #000, -5px -5px #000,
      -5px 5px #000, 5px -5px #000;

    &.active {
      color: #fff;
      background: #000;

      box-shadow: 0 5px #000, 0 10px #000, 0 -5px #000, 0 -10px #000, -5px 0 #000,
        -10px 0 #000, 5px 0 #000, 10px 0 #000, 5px 5px #000, -5px -5px #000,
        -5px 5px #000, 5px -5px #000;
    }
  }
}

.s-chat {
  font-family: "Press Start 2P", cursive !important;
  line-height: 1.5;
  font-size: 15px;

  margin: 0 auto 3em;
  width: 90%;
  display: flex;
  flex-direction: column;

  .s-avatar {
    width: 80px;
    min-width: 80px;
    height: 80px;
    background: #000;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: -35px;
  }

  .s-message {
    max-width: 700px;
    margin: 60px 0;
    display: flex;
    width: 100%;

    + .s-message {
      margin-top: 30px;
    }
  }

  .s-message-container {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }

  .message-left {
    align-self: flex-start;

    .message-container {
      justify-content: flex-start;
    }
    .s-avatar {
      margin-right: 20px;
    }
  }

  .message-right {
    align-self: flex-end;

    .s-message-container {
      justify-content: flex-end;
    }
    .s-avatar {
      margin-left: 20px;
    }
  }

  .balloon {
    max-width: 100%;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 5px #fff, 0 10px #000, 0 -5px #fff, 0 -10px #000, -5px 0 #fff,
      -10px 0 #000, 5px 0 #fff, 10px 0 #000, 5px 5px #000, -5px -5px #000,
      -5px 5px #000, 5px -5px #000;

    p:last-child {
      margin-bottom: 0;
    }

    code {
      cursor: pointer;
      box-shadow: 0 4px #fff, 0 8px #000, 0 -4px #fff, 0 -8px #000, -4px 0 #fff,
        -8px 0 #000, 4px 0 #fff, 8px 0 #000, 4px 4px #000, -4px -4px #000,
        -4px 4px #000, 4px -4px #000;

      padding: .2em 1em 0;
      margin: 1.5em .7em 0 .5em;
      font-family: inherit;
      color: inherit;
      line-height: 1.8em;
      display: inline-block;
    }

    table {
      margin: .5em 0 .7em;

      td {
        border: 3px solid;
        padding: .5em .5em .3em;
      }
    }
  }

  .balloon-right:after,
  .balloon-left:after {
    content: "";
    position: absolute;
    background: #000;
    width: 5px;
    height: 5px;
  }

  .balloon-left:after {
    bottom: -15px;
    left: 40px;
    box-shadow: 5px -5px #fff, 10px -5px #fff, 15px -5px #fff, 20px -5px #fff,
      25px -5px #fff, 0 5px #000, -5px 10px #000, -10px 15px #000, -10px 20px #000,
      -5px 20px #000, 0 20px #000, 5px 20px #000, 10px 20px #000, 15px 20px #000,
      20px 15px #000, 25px 10px #000, 30px 5px #000, 30px 0 #000;
  }

  .balloon-right:after {
    bottom: -15px;
    right: 70px;
    box-shadow: 5px -5px #fff, 10px -5px #fff, 15px -5px #fff, 20px -5px #fff,
      25px -5px #fff, 0 5px #000, 5px 10px #000, 10px 15px #000, 15px 20px #000,
      20px 20px #000, 25px 20px #000, 30px 20px #000, 35px 20px #000,
      40px 20px #000, 40px 15px #000, 35px 10px #000, 30px 5px #000, 30px 0 #000;
  }
}
</style>
