<template>
  <div class="container" :class="brutalMode ? 'simple' :''">
    <SimpleChat v-if="brutalMode" />
    <div v-else class="row">
      <Menu />
      <Discussions />
      <Chat />
    </div>
  </div>
</template>

<script>
import Menu from './components/Menu.vue'
import Discussions from './components/Discussions.vue'
import Chat from './components/Chat.vue'
import SimpleChat from './components/SimpleChat.vue'

export default {
  name: 'app',
  data() {
    return {
      brutalMode: false
    }
  },
  components: {
    Menu,
    Discussions,
    Chat,
    SimpleChat
  },
  mounted() {
    setTimeout(() => this.$store.dispatch('login'), 1000);

    if (window.brutalModeTrigger) {
      document.body.removeEventListener("dblclick", window.brutalModeTrigger)
    }

    window.brutalModeTrigger = ({target}) => {
      if (target.tagName == "BODY") {
        this.brutalMode = !this.brutalMode;
      }
    }
    document.body.addEventListener("dblclick", window.brutalModeTrigger)
  }
}
</script>

<style lang="scss">
body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
}

body {
  padding: 5%;
  background: none !important;
}

html {
  background: linear-gradient(#3F51B5, #303f9f)!important;
  min-height: 100vh;
}

.container {
  padding:0;
  background-color: #FFF; 
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 700px;
}

.row {
  position: relative;
}
</style>
